<a href="https://colab.research.google.com/github/Ann-wq/Python-data-analysis/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_05_Ann_Mungai_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing the pandas library
import pandas as pd
#import the numpy library
import numpy as np

In [0]:
#Loading the dataframes
df = pd.read_csv('Telcom_dataset.csv', delimiter = ',')
df

In [0]:
df = pd.read_csv('Telcom_dataset2.csv', delimiter = ',')
df

In [0]:
df = pd.read_csv('Telcom_dataset3.csv', delimiter = ',')
df

In [0]:
df = pd.read_csv('cells_geo.csv', delimiter = ',')
df

In [0]:
#importing the excel files
df = pd.read_excel('cells_geo_description.xlsx')
print (df)

In [0]:
df = pd.read_excel('CDR_description.xlsx')
print (df)

In [0]:
with pd.ExcelFile('CDR_description.xlsx') as x:
    sa = pd.read_excel(x, 'Sheet1')


print("Sheet 1:")
print (sa)
print("")

In [0]:
#To check any duplicates in the data frames
df.duplicated()

In [0]:
#shows the duplicates that are there
df.drop_duplicates()

In [0]:
#Checking if there is any missing data 
df.isnull()

In [0]:
#dropping off the missing data
df_no_missing = df.dropna()
df_no_missing

In [0]:
df_cleaned = df.dropna(how='all')
df_cleaned

In [0]:
# Dropping the column if they only contain missing values
df.dropna(axis=1, how='all')

In [0]:
#Description of the data set
df.describe(include=np.object)

In [0]:
#Counting the value of the products 
df["PRODUTC"].value_counts()

Voice    2219
sms      1975
data      807
Name: PRODUTC, dtype: int64

In [0]:
#count the number of cells on site in each category
df["CELL_ON_SITE"].value_counts()

1    1252
0    1160
2    1089
_     808
4     251
3     248
5     193
Name: CELL_ON_SITE, dtype: int64

In [0]:
#Analyzing the products ie voice,sms and data were used most at a particular time
df.loc[df["PRODUTC"] == "Voice", "DATETIME"].max()

'2012-05-07 00:01:54.0'

In [0]:
#When sms was used most
df.loc[df["PRODUTC"] == "sms", "DATETIME"].max()

'2012-05-07 00:01:54.0'

In [0]:
#when data was used most
df.loc[df["PRODUTC"] == "data", "DATETIME"].max()

'2012-05-07 00:01:53.0'

In [0]:
#Analyzing the products ie voice least at a particular time
df.loc[df["PRODUTC"] == "Voice", "DATETIME"].min()

'2012-05-06 23:04:37.0'

In [0]:
#Analyzing the products ie sms least at a particular time
df.loc[df["PRODUTC"] == "sms", "DATETIME"].min()

'2012-05-06 23:05:25.0'

In [0]:
#Analyzing the products ie data least at a particular time
df.loc[df["PRODUTC"] == "data", "DATETIME"].min()

'2012-05-06 23:07:26.0'

In [0]:
#This is to show the time when cell on site(1) was used most and least
df.loc[df["CELL_ON_SITE"] == "1", "DATETIME"].agg(("min", "max"))

min    2012-05-06 23:04:37.0
max    2012-05-07 00:01:54.0
Name: DATETIME, dtype: object

In [0]:
#This is to show the time when cell on site(0) was used most and least
df.loc[df["CELL_ON_SITE"] == "0", "DATETIME"].agg(("min", "max"))

min    2012-05-06 23:05:25.0
max    2012-05-07 00:01:54.0
Name: DATETIME, dtype: object

In [0]:
#This is to show the time when cell on site(2) was used most and least
df.loc[df["CELL_ON_SITE"] == "2", "DATETIME"].agg(("min", "max"))

min    2012-05-06 23:08:50.0
max    2012-05-07 00:01:54.0
Name: DATETIME, dtype: object

In [0]:
#This is to show the time when cell on site(3) was used most and least
df.loc[df["CELL_ON_SITE"] == "3", "DATETIME"].agg(("min", "max"))

min    2012-05-06 23:15:44.0
max    2012-05-07 00:01:53.0
Name: DATETIME, dtype: object

In [0]:
#This is to show the time when cell on site(4) was used most and least
df.loc[df["CELL_ON_SITE"] == "4", "DATETIME"].agg(("min", "max"))

min    2012-05-06 23:16:54.0
max    2012-05-07 00:01:54.0
Name: DATETIME, dtype: object

In [0]:
#This is to show the time when cell on site(5) was used most and least
df.loc[df["CELL_ON_SITE"] == "5", "DATETIME"].agg(("min", "max"))

In [0]:
#This is to show the site where cell on site(1) was used most and least
df.loc[df["CELL_ON_SITE"] == "1", "SITE_ID"].agg(("min", "max"))

min    +38u2u/rfx
max    fff5ac6e3f
Name: SITE_ID, dtype: object

In [0]:
#This is to show the site where cell on site(0) was used most and least
df.loc[df["CELL_ON_SITE"] == "0", "SITE_ID"].agg(("min", "max"))

min    ++ctND+jGD
max    ffa6bdc032
Name: SITE_ID, dtype: object

In [0]:
#This is to show the site where cell on site(2) was used most and least
df.loc[df["CELL_ON_SITE"] == "2", "SITE_ID"].agg(("min", "max"))

min    ++ctND+jGD
max    fff5ac6e3f
Name: SITE_ID, dtype: object

In [0]:
#This is to show the site where cell on site(4) was used most and least
df.loc[df["CELL_ON_SITE"] == "4", "SITE_ID"].agg(("min", "max"))

min    +854AcBQT2
max    fb35d6b5d3
Name: SITE_ID, dtype: object

In [0]:
#This is to show the site where cell on site(3) was used most and least
df.loc[df["CELL_ON_SITE"] == "3", "SITE_ID"].agg(("min", "max"))

min    +38u2u/rfx
max    fe32f3eba7
Name: SITE_ID, dtype: object

In [0]:
#This is to show the site where cell on site(5) was used most and least
df.loc[df["CELL_ON_SITE"] == "5", "SITE_ID"].agg(("min", "max"))

min    +854AcBQT2
max    fe31a370fe
Name: SITE_ID, dtype: object

In [0]:
#This is to show which site voice product was used the most and used least
df = df[df.notnull().all(axis=1)]
df.loc[df["PRODUTC"] == "Voice", "SITE_ID"].agg(("min", "max"))

min    ++ctND+jGD
max    fff5ac6e3f
Name: SITE_ID, dtype: object

In [0]:
#This is to show which site sms was used the most and used least
df.loc[df["PRODUTC"] == "sms", "SITE_ID"].agg(("min", "max"))

min    ++ctND+jGD
max    ffa6bdc032
Name: SITE_ID, dtype: object

In [0]:
#This is to show which site data was used the most and used least
df = df[df.notnull().all(axis=1)]
df.loc[df["PRODUTC"] == "data", "SITE_ID"].agg(("min", "max"))

min    +38u2u/rfx
max    U+0xkwNeOT
Name: SITE_ID, dtype: object